
@import "bootstrap";
@import "font-awesome";


body {
  background: image_url('qbkls.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar {
  background: image_url('qbkls.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-brand {
  color: #34D723;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
}

.booyah-box {
  -moz-mox-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5 h6, {
  margin:0;
  padding:0;
}

.pagination {
background: #f1f1f1;
  border: 2px solid #e5e5e5;
  text-align: center;
  justify-content: center;
  padding: 5px;
  cursor: default; }
.pagination a, .pagination span {
    padding: 0.2em 0.3em; }
.pagination .disabled {
    color: #aaaaaa; }
.pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline;
    width: 1.4em;
    height: 24px;
    line-height: 1.75;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .pagination a {
    text-decoration: none;
    color: black; }
  .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }